/pratica6/Listas/nbproject/private/
/pratica6/Listas/build/
/pratica6/ExemploDeListas/nbproject/private/
/pratica6/ListaDeCompras/nbproject/private/
/pratica7/ListaDeContatos/nbproject/private/
/pratica7/Banco-Heranca-Alura/nbproject/private/
/pratica7/ListaDeContatos/build/
/pratica6/ListaDeCompras/build/