/pratica2/exercicio1/nbproject/private/
/pratica2/aula4/nbproject/private/
/pratica2/aula4/build/
/pratica3/aula5/nbproject/private/
/pratica2/aula4/Conta/nbproject/private/
/pratica3/aula5/Conta/nbproject/private/
/pratica3/aula5/Conta/build/
/pratica3/aula5/Conta/dist/
/pratica2/aula4/dist/